[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anagram_package = {file = ".", editable = true}
build = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
twine = "*"
anagram-package = {file = ".", editable = true}

[dev-packages]
pytest = "*"
build = "*"
twine = "*"

[requires]
python_version = "3"
